@import '../../styles/common';

.Container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Data {
  @extend %body;
  color: var(--text--primary);
  text-transform: uppercase;
}
