@import '../../styles/common';

.NavBar {
  display: flex;
  flex-direction: column;
  width: 13%;
}

.NavItem {
  flex: 1;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  button,
  a {
    --button-bg: linear-gradient(112deg,
    var(--grey--1),
    var(--grey--2) 25%,
    var(--grey-5) 60%,
    var(--grey--3) 80%,
    var(--grey--4));
    height: 100%;
    opacity: 1;
    width: 100%;
    min-width: initial;
  }
}
