:root {
  /**
  * @tokens Brand Colors
  * @presenter Color
  */

  --black: #000;
  --white: #fff;
  --green: #12f103;
  --green2: #4aad52;
  --green-lighter: #83e585;
  --orange: #f39027;
  --aqua: #9debce;
  --cyan: #22fefe;
  --red: #fd191f;
  --purple: #5a0f5a;
  --yellow: #e0a321;

  --grey-0: #bdbdbd;
  --grey-1: #a9a9a9;
  --grey-2: #b6b6b6;
  --grey-2: #8c8c8c;
  --grey-3: #565656;
  --grey-4: #4e4e4e;
  --grey-5: #4f4f4f;
  --grey-6: #555;
  --grey--1: #b4b4b4;
  --grey--2: #828282;
  --grey--3: #616161;
  --grey--4: #6a6a6a;

  /* Neutral */
  --neutral-100: #f8f8f9;
  --neutral-200: #d6dce2;
  --neutral-300: #b9c3ce;
  --neutral-400: #8292a7;
  --neutral-500: #586e89;
}
  