@import '../../styles/common';

.Container {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.Text {
  @extend %body;
  color: var(--text--primary);
  font-weight: bold;
  text-transform: uppercase;
}
